/* Estilo para o corpo da página */
body {
    background-color: rgb(94, 91, 87);
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center; /* Centraliza o texto */
}

#sexo{
    border-radius: 100px;
}
#altura{
    border-radius: 100px;
}

#proximoButton{
    border-radius: 100px;
}

.resul{
    top: 250px;
    position: absolute;
    right:440px;
}